/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  flex: 1;
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  height: 100%;
}

ul {
  width: 400px;
  height: 100%;
  list-style: none;
  overflow-y: scroll;
  background-color: #eee;
  padding: 0 16px;
  z-index: 10;
}

li {
  width: 100%;
  border-bottom: 1px solid #ccc;
  border: 5px solid #eee;
  border-radius: 20px;
  background-color: #fff;
  margin: 16px 0;
}

li.selected {
  border: 5px solid rgb(255, 153, 153);
  background-color: rgb(255, 153, 153);
  transition: background-color 1.0s,border 1.0s;
}

li:hover {
  border: 5px solid rgb(255, 153, 153);
  box-sizing: border-box;
}

li > * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li > img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  margin-bottom: 8px;
}

li > .name {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 8px;
  padding: 0 10px;
}

li > .address {
  font-size: 14px;
  padding: 0 10px;
}

.Regular_holiday{
  padding: 5px 20px;
  font-size: 0.8rem;
}

.sales_time_am{
  padding: 0 20px 0 20px;
  font-size: 0.8rem;
}

.sales_time_pm{
  padding: 0 20px 10px 20px;
  font-size: 0.8rem;
}

/* ########### 599px以下 ########### */
@media (max-width: 599px) {

  ul {
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
  }

}